venv/
*.env

*.pyc
__pycache__/

.pytest_cache/
.coverage

dist/
build/
*.egg-info/
*.eggs/

.idea/

config/config.ini

*.xml
*.json
*.wav
*.mp3
*.ogg
*.flac
*.local

resources/sctk/
/notebooks/.ipynb_checkpoints/

resources/

condaenv.*.txt
