[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.10.*"
pandas = "==1.5.3"
pretty-midi = "==0.2.10"

[dev-packages]

[requires]
python_version = "3.10"
