[Representation]
PIANO_MIN_MIDI_PITCH = 21
PIANO_MAX_MIDI_PITCH = 108
QUARTER_PER_BARS = 4
STEPS_PER_QUARTER = 4
SLICE_BARS = 16
TRANSPOSITION_RANGE = [-5, 5]

[Datasets]
MAESTRO_VERSION = 3.0.0
MAESTRO_URL = https://storage.googleapis.com/magentadata/datasets/maestro
MAESTRO_MIDI_ONLY = True
PLOT_DATA = False

[Model]
Z_SIZE = 512
ENC_LEVELS = 2
ENC_RNN_SIZE = 1024
DEC_RNN_SIZE = 2048
CNN_ID = 'mobilenet_v1'
CNN_ALPHA = 1.0
CNN_DEPTH_MULTIPLIER = 1
CNN_DROPOUT = 0.001
FREE_BITS = 256
MAX_BETA = 0.2
BETA_RATE = 0.0

[Training]
EXAMPLES_PATH = ./resources/datasets/records/noteseq/maestro-v3.0.0-train.tfrecord
RUN_DIR = ./resources
BATCH_SIZE = 64
EPOCHS = 20
STEPS_PER_EPOCH =
INITIAL_EPOCH = 0
LEARNING_RATE = 0.001
DECAY_RATE = 0.9999
MIN_LEARNING_RATE = 0.00001
CLIP_NORM = None
CLIP_VALUE = None
GLOBAL_CLIP_NORM = None
STEPS_PER_EXECUTION = 1
RUN_EAGERLY = False
JIT_COMPILE = False
MAX_QUEUE_SIZE = 10
WORKERS = 1
USE_MULTIPROCESSING = False
VALIDATION_STEPS =
VALIDATION_BATCH_SIZE = 1
VALIDATION_FREQ =
CHECKPOINTS_TO_KEEP = 100
KEEP_CHECKPOINT_EVERY_N_HOURS = 1
CACHE_DATASET = True
VERBOSE = auto
